<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-4.0.xsd">

	<http auto-config="true" use-expressions="true">
	
	<!-- ROLE_USER, ROLE_SOPORTE -->
	
	
		<intercept-url pattern="/aplicativo" access="hasAnyRole('ROLE_ADMIN','ROLE_USER','ROLE_SOPORTE')" />
		<intercept-url pattern="/indexMedas" access="hasAnyRole('ROLE_ADMIN','ROLE_USER','ROLE_SOPORTE')" />
		<intercept-url pattern="/guardarIncidencia" access="hasAnyRole('ROLE_ADMIN','ROLE_USER','ROLE_SOPORTE')" />
		<intercept-url pattern="/listaIncidencias/**" access="hasRole('ROLE_SOPORTE')" />
		<intercept-url pattern="/listaUsuario/**" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/anadirAplicacion" access="hasAnyRole('ROLE_ADMIN','ROLE_USER','ROLE_SOPORTE')" />
		
		
		
		<!--  <intercept-url pattern="/aplicativo" access="hasRole('ROLE_USER')" />-->

		<access-denied-handler error-page="/403" />

		<form-login login-page="/" 
		default-target-url="/indexMedas"
			authentication-failure-url="/?error"
			username-parameter="usuario"
			login-processing-url="/j_spring_security_check"
			password-parameter="contrasena" />
		<logout logout-success-url="/" logout-url="/j_spring_security_logout" />
	</http>


	<authentication-manager>
		<authentication-provider ref="servicioLogeo" /> 
	</authentication-manager>



</beans:beans>